@model Services.DTOs.UpdatePasswordDTO

@{
    Layout = Model.LayoutUrl;
    ViewData["Title"] = "Cambiar Contraseña";
}
@section Stylesheets {
    <environment include="Development">
        <link href="~/css/common/password_requirements.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/common/password_requirements.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<!-- Content -->
<div class="wrapper wrapper-content animated fadeIn" style="animation-delay: 0.4s;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cambiar contraseña   |   <small class="text-danger">La contraseña debe tener al menos 6 caracteres, 1 letra mayúscula, 1 letra minúscula, 1 número y 1 caracter especial como: ~!\@Html.Encode("@")#$%^+- </small></h5>
                </div>
                <div class="ibox-content">
                    <form asp-area="Common" asp-controller="Password" asp-action="Update" method="POST" name="form1" id="form1" class="form-horizontal"
                          data-ajax="true"
                          data-ajax-method="post"
                          data-ajax-begin="onAjaxBegin"
                          data-ajax-failure="onAjaxError"
                          data-ajax-complete="completed"
                          data-ajax-update="#body_content">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Contraseña actual</label>
                            <div class="col-sm-10">
                                <input asp-for="CurrentPassword" class="input-password-large form-control" id="passwd" placeholder="Contraseña actual">
                                <i class="glyphicon form-control-feedback">Mostrar</i>
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nueva contraseña</label>
                            <div class="col-sm-10">
                                <input asp-for="NewPassword" class="input-password-large form-control" id="New_Password" placeholder="Nueva contraseña">
                                <i class="glyphicon form-control-feedback">Mostrar</i>
                                <div id="new-password-popover-container">
                                </div>
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Repetir contraseña</label>
                            <div class="col-sm-10">
                                <input asp-for="ConfirmNewPassword" class="input-password-large form-control" id="verifypasswd" placeholder="Repetir contraseña">
                                <i class="glyphicon form-control-feedback">Mostrar</i>
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <button class="btn btn-primary ladda-button" id="mdlsave" name="mdlsave" data-style="expand-right" type="submit">Actualizar Contraseña</button>
                            </div>
                        </div>
                        <input asp-for="UserLoginId" type="hidden" />
                        <input asp-for="LayoutUrl" type="hidden" />
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Content end-->

@section Scripts{
    <script>
        completed = function (xhr) {
            if (xhr.status == 202) {
                var obj = JSON.parse(xhr.responseText);
                window.location.href = obj.url + "?LayoutUrl=@Model.LayoutUrl";
            }
            else {
                initializePage();
            }
        };
    </script>

    <partial name="~/Areas/Common/Views/_PassRequirementsPartial.cshtml" />
    <partial name="~/Areas/Common/Views/_ValidationScriptsPartial.cshtml" />
    <environment include="Development">
        <script src="~/js/common/Password/index.js"></script>
        <script src="~/js/common/hideShowPassword.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common/Password/index.min.js" asp-append-version="true"></script>
        <script src="~/js/common/hideShowPassword.min.js" asp-append-version="true"></script>
    </environment>
}