.input-password ~ .glyphicon, .input-password + .glyphicon, .input-password-large ~ .glyphicon, .input-password + .glyphicon {
    cursor: pointer;
    pointer-events: all;
    font-family: inherit;
}

.input-password ~ .glyphicon, .input-password + .glyphicon {
    right: 10px;
}

.input-password-large ~ .glyphicon, .input-password-large + .glyphicon {
    right: 25px;
}

#password-popover-container .popover, #new-password-popover-container .popover {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#password-popover-container .popover-header, #password-popover-container .popover-body, #new-password-popover-container .popover-header, #new-password-popover-container .popover-body {
    color: #676a6c;
}

#password-popover-container .popover-header, #new-password-popover-container .popover-header {
    font-weight: 600;
    font-size: 0.875rem;
}

#password-popover-container .popover-body, #new-password-popover-container .popover-body {
    font-weight: normal;
}

#new-password-popover-container .popover .arrow::after, #new-password-popover-container .popover .arrow::before {
    left: -126px;
}
