@model IEnumerable<CategoriaIndexDTO>
@{
    ViewData["Title"] = "Categorías";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Categorías</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Client" asp-controller="Default" asp-action="Index">Inicio</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Categorías</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<!-- Content -->
<div class="wrapper wrapper-content animated fadeIn" style="animation-delay: 0.4s;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                
                <div class="ibox-content">
                    <a href="#myModal" data-toggle="modal" data-target="#edit-modal" class="btn btn-primary">Añadir Categoría</a>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">Acciones</th>
                                    <th width="45%">Nombre</th>
                                    <th width="45%">Descripción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CategoriaIndexDTO item in Model)
                                {
                                    <tr class="gradeX">
                                        <td>
                                            <a asp-area="Client" asp-controller="Categoria" asp-action="Details" asp-route-CategoriaId="@item.Id" class="btn btn-white btn-sm tooltip-demo"><i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Detalles"></i></a>
                                            <a asp-area="Client" asp-controller="Categoria" asp-action="Delete" asp-route-CategoriaId="@item.Id" class="btn btn-white btn-sm1 tooltip-demo delete-button" data-form-id="delete-form"><i class="fa fa-trash-o" data-toggle="tooltip" data-placement="top" title="Eliminar"></i></a>
                                        </td>
                                        <td>
                                            @item.Nombre
                                        </td>
                                        <td>
                                            @item.Descripcion
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="delete-form" method="post" role="form"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onAjaxBegin"
      data-ajax-success="onDeleteSuccess"
      data-ajax-failure="onAjaxError"
      data-ajax-complete="onAjaxCompleted"
      data-ajax-update="#body_content"></form>

<!-- modal window -->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <form asp-controller="Categoria" asp-action="Add" method="post" class="form-horizontal" id="form2" form="form2" role="form"
                  data-ajax="true"
                  data-ajax-method="post"
                  data-ajax-begin="onAjaxBegin"
                  data-ajax-failure="onAjaxError"
                  data-ajax-complete="dismiss_modal"
                  data-ajax-success="onAddSuccess"
                  data-ajax-update="#body_content">

                <div class="modal-header">
                    <div>
                        <h3 class="modal-title">Añadir Categoría</h3>
                        <small>Por favor entre el nombre de la categoría y su descripción</small>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="panel-body">
                    <div class="ibox float-e-margins">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Nombre</label>
                            <div class="col-sm-9">
                                <input id="Nombre" name="Nombre" type="text" class="form-control" placeholder="" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Descripción</label>
                            <div class="col-sm-9">
                                <input id="Descripcion" name="Descripcion" type="text" class="form-control" placeholder="" value="">
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary ladda-button" id="mdlsave" name="mdlsave" data-style="expand-right">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- modal window end -->

@section Scripts {
    <environment include="Development">
        <script src="~/js/Client/Common/modal.js"></script>
        <script src="~/js/Client/Categoria/index.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Client/Common/modal.min.js" asp-append-version="true"></script>
        <script src="~/js/Client/Categoria/index.min.js" asp-append-version="true"></script>
    </environment>

}