<div class="footer">
    <div class="pull-right"><a href="javascript:void(0)" target="new">Terminos y Condiciones</a> | <a href="javascript:void(0)" target="_blank">Política de Privacidad</a></div>
    <div><strong>Copyright</strong> Republish &copy; 2018</div>
</div>