<!--#Navigation bar-->
<nav class="navbar navbar-static-top gray-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul id="right-menu" class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message"></span>
        </li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                <button type="submit" class="form-link"><i class="fa fa-sign-out"></i> Cerrar Sesión</button>
            </form>
        </li>
    </ul>
</nav>