@using Services
@using Models
@inject INotificationsService notificationsService
@{
    int cnt = await notificationsService.GetCountNotReadedByCurrentUser();
    IEnumerable<Notificacion> notifications = (await notificationsService.GetNotReadedByCurrentUser()).Take(3);
}
<!--#Navigation bar-->
<nav class="navbar navbar-static-top gray-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
    </div>
    <ul id="right-menu" class="nav navbar-top-links navbar-right">
        <li>
            <span class="m-r-sm text-muted welcome-message"></span>
        </li>
        <li style="padding:20px">
            <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">Bienvenido a Republish Tool.</span>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-bell"></i>  @if (cnt > 0){<span class="label label-primary">@cnt</span>}
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                @if (cnt > 0)
                {
                    <li>
                        <a asp-controller="Notifications" asp-action="Index" class="dropdown-item">
                            <div>
                                <i class="fa fa-bell"></i> Usted tiene @cnt notificaciones sin leer
                            </div>
                        </a>
                    </li>
                    @foreach (Notificacion item in notifications)
                    {
                        <li>
                            <a asp-controller="Notifications" asp-action="Index" class="dropdown-item">
                                <div>
                                    <i class="fa fa-bullhorn fa-fw"></i> @item.Mensaje.Substring(0, Math.Min(25, item.Mensaje.Length))
                                </div>
                            </a>
                        </li>
                    }
                }
                <li>
                    <div class="text-center link-block">
                        <a asp-controller="Notifications" asp-action="Index" class="dropdown-item">
                            <strong>Ver notificaciones</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li id="CerrarSesion">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                <button type="submit" class="form-link"><i class="fa fa-sign-out"></i> Cerrar Sesión</button>
            </form>
        </li>
    </ul>
</nav>