
<div class="certificates-partial">
    <a id="about_ssl" href="https://www.websecurity.symantec.com/ssl-certificate" target="_blank">ABOUT SSL CERTIFICATES</a>

    <a id="privacy_shield" href="http://www.Republish.pro/aboutus-compliance.html" target="_blank">
        <img src="~/images/privacy_shield.png" width="150" alt="Privacy Shield">
    </a>
</div>
