@model bool

@{
    bool? status = null;
    if (Model)
    {
        status = true;
    }
}

<div class="onoffswitch">
    <input type="checkbox" checked="@(status)" class="onoffswitch-checkbox" id="GrupoEnable" data-form-id="grupo-form" />
    <label class="onoffswitch-label" for="GrupoEnable">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div>
