@using  Models
@model IEnumerable<NotificacionDTO>
@{
    ViewData["Title"] = "Notificaciones";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Notificacioness</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-area="Client" asp-controller="Default" asp-action="Index">Inicio</a>
            </li>
            <li class="active breadcrumb-item">
                <strong>Notificaciones</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<!-- Content -->
<div class="wrapper wrapper-content animated fadeIn" style="animation-delay: 0.4s;">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Notificaciones</h5>
                </div>
                <div class="ibox-content">
                    @foreach (NotificacionDTO item in Model)
                    {

                    <div class="alert @item.Status">
                        @if (!item.Readed)
                        {
                            <i class="fa fa-bullhorn fa-fw"></i>
                            <small>Nueva</small>
                        }
                        @item.Mensaje
                        <span class="float-right text-muted small">@item.DateCreated.ToDateString()</span>
                    </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>