@page
@model ForgotPasswordConfirmation

@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<p class="Republish-login-text text-center">Confirmación</p>
<p>
    La contraseña a sido reiniciada y enviada por correo a usted.
</p>
<p>
    Si no recibe este mensaje en breve revise sus carpetas de SPAM and JUNK.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">Iniciar Sesión</a>