@page
@model ForgotPasswordConfirmation

@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<p class="Republish-login-text text-center">Forgot password confirmation</p>
<p>
    The password has been reset and emailed to you.
</p>
<p>
    If you don't receive it shortly please check your SPAM and JUNK folders.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">LOGIN</a>