@using Republish.Models.Identity
@model InputPasswordModel


<p class="Republish-login-text text-center">Iniciar sesión en Republish Tool</p>
<form class="m-t" role="form" method="post" asp-area="Identity" asp-page="Login" asp-page-handler="Password"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#Republish-login-form"
      data-ajax-begin="onAjaxBegin"
      data-ajax-failure="displayToastrError"
      data-ajax-complete="completed"
      data-ajax-url="/Identity/Account/Login?handler=Password">

    <div class="form-group">
        <input id="Password" class="input-password form-control" asp-for="Password" type="password" placeholder="Contraseña">
        <i class="glyphicon form-control-feedback">Mostrar</i>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary block full-width m-b ladda-button" data-style="expand-right">Iniciar Sesión</button>
    <a asp-page="./ForgotPassword" class="btn btn-sm btn-white btn-block">Reiniciar contraseña</a>
</form>

<script>
    $(document).ready(function () {
        $("#Password").focus();
    });
</script>
<!--<partial name="~/Areas/Identity/Pages/_SecurityCertificatesPartial.cshtml" />-->
<script>
    completed = function (xhr) {
        if (xhr.status == 202) {
            var obj = JSON.parse(xhr.responseText);
            window.location.href = obj.url;
        }
    };
</script>
<environment include="Development">
    <script src="~/js/common/hideShowPassword.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common/hideShowPassword.min.js" asp-append-version="true"></script>
</environment>
