@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


<p class="Republish-login-text text-center">Logged out.</p>
<p class="text-center">
    Thank you for using Republish!
</p>
<p class="text-center">
    Your either signed out or your session timed out.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">BACK TO LOGIN</a>
