@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


<p class="Republish-login-text text-center">Sesión Cerrada.</p>
<p class="text-center">
    Gracias por usar Republish Tool!
</p>
<p class="text-center">
    Usted ha cerrado la sesión o excedió el tiempo de inactividad.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">Regresar a Iniciar Sesión</a>
