@page
@model ResetPasswordModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";

}

<p class="Republish-login-text text-center">Reiniciar contraseña</p>
<form class="m-t" method="post">
    <input asp-for="Input.Code" type="hidden" />
    <div class="form-group">
        <input id="Email" asp-for="Input.Email" class="form-control" type="email" placeholder="Email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.Password" class="input-password form-control" type="password" placeholder="Contraseña" />
        <i class="glyphicon form-control-feedback">Mostrar</i>
        <div id="password-popover-container">
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Input.ConfirmPassword" class="input-password form-control" type="password" placeholder="Confirmar Contraseña" />
        <i class="glyphicon form-control-feedback">Mostrar</i>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="privacy_term link-black">
        <a href="javascript:void(0)" target="_blank">Terminos y Condiciones</a>
    </div>
    <div id="accept-form-group" class="form-check form-group">
        <div>
            <input type="checkbox" class="form-check-input" asp-for="Input.AcceptTerms">
            <label class="form-check-label">Aceptar</label>
        </div>
        <span asp-validation-for="Input.AcceptTerms" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary block full-width m-b">Reset</button>
</form>

<partial name="~/Areas/Common/Views/_PassRequirementsPartial.cshtml" />
<environment include="Development">
    <script src="~/js/common/hideShowPassword.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/common/hideShowPassword.min.js" asp-append-version="true"></script>
</environment>
<script>
    $(document).ready(function () {
        $("#UserName").focus();
    });
</script>