@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<p class="Republish-login-text text-center">Reset password confirmation</p>
<p>
    Su contraseña ha sido reiniciada.    
</p>
<p>
    Por favor de clic en el siguiente botón para iniciar sesión.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">Regresar a Iniciar Sesión</a>