@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<p class="Republish-login-text text-center">Reset password confirmation</p>
<p>
    Your password has been reset.    
</p>
<p>
    Please click next button to log in.
</p>
<a class="btn btn-sm btn-primary btn-block reset-password-login-button" href="./Login">BACK TO LOGIN</a>