<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Republish</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment include="Development">
        <!--TODO: Move jQuery to the body section of the document.-->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <!-- Note: This is after style.css so that certain styles override the ones in style.css. This will likely be replaced with a generated CSS file using SASS in the future. -->
        <link href="~/css/common/bootstrap_custom.css" rel="stylesheet" />
        <link href="~/css/login.css" rel="stylesheet" />
        <link href="~/lib/Ladda/ladda-themeless.min.css" rel="stylesheet" />
        <link href="~/css/cookie_consent.min.css" rel="stylesheet" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
        <link href="~/css/common/toastr_custom.css" rel="stylesheet" />
        <link href="~/css/common/password_requirements.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <!--TODO: Move jQuery to the body section of the document.-->
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />
        <!-- Note: This is after style.css so that certain styles override the ones in style.css. This will likely be replaced with a generated CSS file using SASS in the future. -->
        <link href="~/css/common/bootstrap_custom.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/login.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Ladda/ladda-themeless.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/cookie_consent.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/common/toastr_custom.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/common/password_requirements.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div class="container-fluid login-main">
        <div class="row">
            <div class="col-sm-6 col-md-7 Republish-left-layout-bg">
                <div class="container">
                    <div class="logo">
                        <a href="#"><img src="" /></a>
                    </div>
                    <div class="Republish-details-left hidden-xs" >
                        <p class="Republish-message">Tu software de publicidad</p>
                        <p id="left_subtitle">Experiencia | Servicio Personalizado | Calidad</p>
                        <ul class="Republish-details-list">
                            <li>Compatible con diferentes dispositivos y navegadores</li>
                            <li>No es necesario instalar ningun software</li>
                            <li>Diseño profesional</li>
                        </ul>
                        <p id="left_details">Este sitio esta dirigido solamente a usurios autorizados. Si has llegado a este sitio por error, abandone el sitio escribiendo correctamente el sitio que estaba buscando.</p>
                        <div class="privacy_term">
                            <a href="javascript:void(0)" target="_blank">Condiciones y Terminos</a> |
                            <a href="javascript:void(0)" target="_blank">Politica de Privacidad</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 Republish-right-layout-bg ">
                <div class="container-fluid">
                    <div class="Republish-login-form animated fadeInDown" id="Republish-login-form">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Areas/Common/Views/_ValidationScriptsPartial.cshtml" />
    <partial name="~/Areas/Common/Views/Toastr.cshtml" />
    <environment include="Development">
        <script src="~/js/common/ajax_utils.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/common/ajax_utils.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>